<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        header {
            background-color: #333;
            color: white;
            text-align: center;
            padding: 1em;
        }


        tr:nth-child(odd){background:#eee;}
        table{width:100%;}
         td{padding:10px;}
        th{background: #000;color: #fff;}


        body{
            background-color: #e0e7eb;
            max-width: 90%;
            text-align: center

        }
        img{
        text-align: center

        }

    </style>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart werehoust</title>
</head>
<body>
    <header>
    <h1 >Smart werehoust- prototype</h1>
  </header>

    <h1>Aktualny pomiar z daty 30.11.2023</h1>
     <img src="{{ url_for('static', filename='img/img4.jpg') }}" alt="Obraz" width="30%" >
    <img src="{{ url_for('static', filename='img/img1_con.jpg') }}" alt="Obraz" width="30%" >



    <table id="raport_data_table">
   <thead>
      <tr>
         <th>Nr.</th> <th>Data</th> <th>Ilość elementów</th> <th>Procentowe zapełnienie</th> <th>Raport</th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td>1</td> <td>30.11.2023</td> <td>{{ additional_text }}</td> <td>x%</td> <td> Raport AI</td>
      </tr>
       <tr>
         <td>2</td> <td>30.11.2023</td> <td>{{ additional_text }}</td> <td>x%</td> <td> Raport AI</td>
      </tr>
       <tr>
         <td>3</td> <td>30.11.2023</td> <td>{{ additional_text }}</td> <td>x%</td> <td> Raport AI</td>
      </tr>

      </tr>
   </tbody>
</table>
<form method="post" action="/upload" enctype="multipart/form-data">
    <input type="file" id="image_input" name="uploaded_image" accept=".jpg, .jpeg, .png">
    <button type="submit">Prześlij obraz</button>
</form>
</body>
</body>
</html>
